<ul class="postList">
  {% asyncEach post in postslist %}
  <li class="post">
    {% set date = post.data.date %}
    {% set tags = post.data.tags %}
    {% set author = post.data.author %}
    {% set index = true %}
    {% set post = post.data %}
    {% include "./post-details.njk" %}
  </li>
  {% endeach %}
</ul>